{% extends '::base.html.twig' %}

{% block title -%}{{ list.getName() }}{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <h1>{{ list.getName() }}</h1>
    </div>

    <div class="row">
        {% if list.getItems() is not empty %}
        <ul class="col-xs-12 col-md-6 list-group" id="todolist">
            {% for item in list.getItems() %}

                <li class="list-group-item" id="item{{ item.getId() }}">
                    <a href="{{ baseurl }}action/delete/{{ item.getId() }}"><span class="js-del pull-right">X</span></a>
                    <span class="js-edit pull-right">edit</span>
                    {{ item.getName() }}
                </li>

            {% endfor %}
        {% else %}
            <p>Deze lijst is leeg of bestaat niet</p>
        {% endif %}
        </ul>
    </div>
</div>
{% endblock %}


{% block css -%}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}" />
{% endblock %}

{% block js -%}
    <link rel="stylesheet" href="{{ asset('js/bootstrap.min.js') }}" />
{% endblock %}
