{% extends '::base.html.twig' %}

{% block title -%}{{ pagetitle }}{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <h1>{{ pagetitle }}</h1>
    </div>

    <div class="row">
        <ul class="col-xs-12 col-md-6 list-group" id="todolist">
        {% for item in todolist %}

            <li class="list-group-item" id="item{{ item.id }}">
                <span class="js-del pull-right">X</span>
                <span class="js-edit pull-right">edit</span>
                {{ item.title }}
            </li>

        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}


{% block css -%}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}" />
{% endblock %}

{% block js -%}
    <link rel="stylesheet" href="{{ asset('js/bootstrap.min.js') }}" />
{% endblock %}
